@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">¡Bichota Tour!</h1>
    <p>Recuerda siempre <a asp-area="" asp-controller="Tickets" asp-action="Validate">validar el tiquete</a> antes de permitir el ingreso al concierto.</p>
</div>

<div class="d-flex align-items-center justify-content-center">
    <img src="~/assets/concert-banner.jpeg" asp-append-version="true" alt="Concert-Banner"/>
</div>