@{
    ViewData["Title"] = "¡Bichota Fest!";
}

<div class="text-center">
    <h1 class="display-4">¡La Bichota Fest!</h1>
    <p>Quizás desees <a href="https://docs.microsoft.com/aspnet/core">validar un tiquete</a>.</p>
</div>

