@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<br />
<p>¡No somos revendedores!</p>

<br />
<p>Nos reservamos el derecho de admisión al concierto <i>¡La Bichota Fest!</i> para personas que adquirieron sus boletas a través de la página. 
    Si su tiquete presenta algún problema, por favor, llame a nuestra línea de atención al cliente 018000 123456789.</p>

